doctype 5
html
  head
    title Sure GUI
    link(rel="stylesheet", href="index.css")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src="index.js")
  body
